/* CreateHabits.css */
.create-habit-form {
    display: flex;
    flex-direction: column; /* makes sure child items stack vertically */
    gap: 10px; /* adds space between child items */
    align-items: left;
    justify-content: space-between;

    margin-left: 30px;
    margin-right: 30px;
}
