.habits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    max-height: 80vh;
    overflow-y: auto;
}

.habit-box {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    text-align: left;
}

/* For Firefox */
* {
    scrollbar-width: thin; /* changed from none to thin */
    scrollbar-color: rgba(0,0,0,0.1) transparent; /* added this line */
}

/* For Chrome, Safari, and Opera */
*::-webkit-scrollbar {
    width: 8px; /* changed from display: none */
}
*::-webkit-scrollbar-track {
    background: transparent; /* added this line */
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1); /* added this line */
    border-radius: 20px; /* added this line */
    border: 3px solid transparent; /* added this line */
}
/* For Internet Explorer and Edge */
html {
    -ms-overflow-style: none;
}

.complete-habit-btn  {
    display: block;
    text-decoration: none; /* removes underline from link */
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #7439db;
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;
    
  }
  
  .complete-habit-btn:hover  {
    color: white;
    background-color: #9963f8;
  }
  
  .delete-habit-btn  {
    display: block;
    text-decoration: none; /* removes underline from link */
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #7439db;
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;
  }
  .delete-habit-btn:hover  {
    color: white;
    background-color: #9963f8;
  }
 
.completed {
    background-color: rgb(0, 114, 46);
}

.not-completed {
    background-color: rgb(80, 80, 80);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px; 
    width: 50%;
    height: 50%;
  }
  
  .completion-box {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px;
  }
  
  
  
