<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Habits</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="static/styles.css">

</head>

<body>
  <div class="main-container">
    <div id="habits-container" class="habits-container">
      <button id="logout-button" style="display: none;">Logout</button>
    </div>
    <div class="login-form" id="login-container">
      <form id="login-form">
        <h1>Login</h1>
        <div class="content">
          <div class="input-field">
            <input id="username" type="email" placeholder="Email" autocomplete="nope">
          </div>
          <div class="input-field">
            <input id="password" type="password" placeholder="Password" autocomplete="new-password">
          </div>
          <a href="#" class="link">Forgot Your Password?</a>
        </div>
        <div class="action">
          <button name="register" type="submit">Register</button>
          <button name="signin" type="submit">Sign in</button>
        </div>
      </form>
    </div>
    <div class="create-habit-form" id="create-habit-wrapper">
      <form id="create-habit-form">
        <h2>Create New Habit</h2>
    
        <div class="input-field">
          <input id="public" type="checkbox" name="public">
          <label for="public">Public</label>
        </div>
    
        <div class="input-field">
          <label for="frequency">Frequency</label>
          <select id="frequency" name="frequency">
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
          </select>
        </div>
    
        <div class="input-field">
          <input id="habit_description" type="text" placeholder="Habit Description" required>
        </div>
    
        <div class="input-field">
          <input id="end_goal" type="text" placeholder="End Goal" required>
        </div>
    
        <div class="input-field">
          <input id="end_date" type="date" required>
        </div>
    
        <button type="submit">Create Habit</button>
      </form>
    </div>
    
  </div>

  <script src="static/script.js"></script>
</body>

</html>
