<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <title>Leo Macintyre - Software Engineer</title>
</head>
<body>
    <!-- Add this form element inside your <body> tag -->

  <div class="container">
    <a href="https://github.com/leomac81/API.fastapi" class="title-link">
      <h1 class="title">Leo Macintyre - Software Engineer</h1>
    </a>
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="">
        <br>
        <input type="submit" value="Login">
      </form>
      <form id="register-form">
        <label for="register-email">Email:</label>
        <input type="email" id="register-email" name="register-email" value="">
        <br>
        <label for="register-password">Password:</label>
        <input type="password" id="register-password" name="register-password" value="">
        <br>
        <input type="submit" value="Create User">
      </form>
      
      <div id="posts-container"></div>
      <div id="post-actions" style="display: none;">
      <h3>Create Post</h3>
      <input type="text" id="create-title" placeholder="Title">
      <textarea id="create-content" placeholder="Content"></textarea>
      <button id="create-post-btn">Create Post</button>
      <h3>Update Post</h3>
      <input type="number" id="update-post-id" placeholder="Post ID">
      <input type="text" id="update-title" placeholder="New Title">
      <textarea id="update-content" placeholder="New Content"></textarea>
      <button id="update-post-btn">Update Post</button>
      <h3>Get Post</h3>
      <input type="number" id="get-post-id" placeholder="Post ID">
      <button id="get-post-btn">Get Post</button>
      <h3>Delete Post</h3>
      <input type="number" id="delete-post-id" placeholder="Post ID">
      <button id="delete-post-btn">Delete Post</button>
    </div>
      
    
    <button class="api-button" onclick="redirectToApiDocs()">
      Try out the API!
    </button>
  </div>
  <script src="static/script.js"></script>
</body>
</html>
