table {
    max-width: 500px; /* Added a maximum width for the table */
    width: 100%;
    margin: 20px auto; /* Added auto margins to center the table */
    border-collapse: collapse;
}

td {
    width: calc(100% / 7);
    height: 40px; /* Set a fixed height for the cells */
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    border: none;
    font-size: 1em;
}

td:nth-child(7),
td:nth-child(14) {
    color: #999;
}

/* Styles for different states */
td > .completed {
    color: #4CAF50; /* Green for completed */
}

td > .not-completed {
    color: #FF5252; /* Red for not completed */
}

td > .no-data {
    color: #BDBDBD; /* Gray for no data */
}
